.authenticate-form {
  width: 75%;
  position: relative;
  margin: auto;
  .form-select {
    display: flex;
    height: 6em;
    width: 50%;
    margin: auto;
    .not-selected {
      background-color: grey;
      text-align: center;
      color: white;
      margin: auto;
      width: 100%;
      padding: 3px;
      &:hover {
        background-color: orange;
      }
    }
    .selected {
      background-color: blue;
      text-align: center;
      color: white;
      margin: auto;
      width: 100%;
      padding: 3px;
      &:hover {
        background-color: orange;
      }
    }
    #register {
      border-radius: 0px 10px 10px 0px;
    }
    #login {
      border-radius: 10px 0px 0px 10px;
    }
  }
  .form-errors {
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
    transition: height 0.2s ease-in;
    .error{
      height: 100%;
    }
  }
  .form-item {
    margin: auto;
    width: 50%;
    input {
      text-align: center;
    }
    .form-input {
      width: 100%;
      border-radius: 10px;
    }
    .form-button {
      width: 10%;
      min-width: 40px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      background-color: blue;
      text-align: center;
      padding: 5px;
      border-radius: 10px;
      &:hover {
        background-color: red;
      }
      &:active {
        background-color: orange;
      }
    }
  }
}
