:root {
  --primary: grey;
  --secondary: lightgrey;
  --accent: blue;
  --textColor: orange;
  --textAccent: pink;
  --backgroundColor: purple;
  --headerBackgroundColor: red;
  --blockQuoteColor: darkgrey;
}
$primary: var(--primary);
$secondary: var(--secondary);
$accent: var(--accent);
$textColor: var(--textColor);
$textAccent: var(--textAccent);
$backgroundColor: var(--backgroundColor);
$headerBackgroundColor: var(--headerBackgroundColor);
$blockQuoteColor: var(--blockQuoteColor);
