$themes: (
  allience: (
    primary: #1c3661,
    secondary: #ad9c00,
    text: #303030,
    textDark: #000,
    textLight: #dedede,
    contentColor: #b9baba,  
    iconColor: #000,
    
  ),
  horde: (
    primary: #781414,
    secondary: #a2c6c9,
    text: #303030,
    textDark: #000,
    textLight: #dedede,
    contentColor: #b9baba,  
    iconColor: #000,
  ),
);