.Menu {
  margin: 0 !important;
  .MenuButton {
    vertical-align: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    display: inline-block;
    margin: 0 !important;
  }
  .MenuList {
    margin: 0 !important;
  }
}
