:root {
  --primary: #182952;
  --secondary: #2b3595;
  --accent: #0f3460;
  --textColor: #b7bec7;
  --textAccent: #e14594;
  --backgroundColor: #0f1545;
  --headerBackgroundColor: #182952;
  --blockQuoteColor: darkgrey;
  --white: #e3e3e3;
  --red: #b51f1f;
  --buttonColor: #461075;
  --buttonHover: #692f0c;
  --black: #16081c; }

.authenticate-form {
  width: 75%;
  position: relative;
  margin: auto; }
  .authenticate-form .form-select {
    display: flex;
    height: 6em;
    width: 50%;
    margin: auto; }
    .authenticate-form .form-select .not-selected {
      background-color: var(--primary);
      text-align: center;
      color: var(--textColor);
      margin: auto;
      width: 100%;
      padding: 3px; }
      .authenticate-form .form-select .not-selected:hover {
        background-color: var(--textAccent); }
    .authenticate-form .form-select .selected {
      background-color: var(--secondary);
      text-align: center;
      color: var(--textColor);
      margin: auto;
      width: 100%;
      padding: 3px; }
      .authenticate-form .form-select .selected:hover {
        background-color: var(--accent); }
    .authenticate-form .form-select #register {
      border-radius: 0px 10px 10px 0px; }
    .authenticate-form .form-select #login {
      border-radius: 10px 0px 0px 10px; }
  .authenticate-form .form-errors {
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
    transition: height 0.2s ease-in; }
    .authenticate-form .form-errors .error {
      height: 100%; }
  .authenticate-form .form-item {
    margin: auto;
    width: 50%; }
    .authenticate-form .form-item input {
      text-align: center; }
    .authenticate-form .form-item .form-input {
      width: 100%;
      border-radius: 10px; }
    .authenticate-form .form-item .form-button {
      width: 10%;
      min-width: 40px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      background-color: var(--primary);
      text-align: center;
      padding: 5px;
      border-radius: 10px; }
      .authenticate-form .form-item .form-button:hover {
        background-color: var(--secondary); }
      .authenticate-form .form-item .form-button:active {
        background-color: var(--accent); }
