@import "Themes.scss";
.Nav-Bar {
  background-color: $headerBackgroundColor;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 20px;
  height: 100%;
  max-height: 200px;
  .title {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
  }
  .Nav-Section {
    display: inline;
    position: relative;
    .Nav-Item {
      padding: 5px;
      font-size: 20px;
      text-decoration: none;
      &:hover {
        background-color: $secondary;
      }
    }
    .Nav-Item-Active {
      background-color: $accent;
    }
  }
  .Left {
    @extend .Nav-Section;
    width: 50%;
  }
  .Right {
    @extend .Nav-Section;
    float: right;
    position: relative;
    top: -50px;
  }
  .Center {
    margin: auto;
    width: 25%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  .button {
    width: 150px;
    border-radius: 10px;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    border: 3px black;
    border-style: solid;
    font-weight: 700;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    background-color: $buttonColor;
    &:hover {
      background-color: $buttonHover;
    }
  }
  .button-active {
    @extend .button;
    background-color: $buttonHover;
    &:hover {
      background: $buttonColor;
    }
  }
  .players-button {
    @extend .button;
  }
  .players-button-active {
    @extend .button-active;
  }
  .options-area {
    .options-button-open {
      @extend .button-active;
    }
    .options-button-closed {
      @extend .button;
    }
  }
}
