:root {
  --primary: #182952;
  --secondary: #2b3595;
  --accent: #0f3460;
  --textColor: #b7bec7;
  --textAccent: #e14594;
  --backgroundColor: #0f1545;
  --headerBackgroundColor: #182952;
  --blockQuoteColor: darkgrey;
  --white: #e3e3e3;
  --red: #b51f1f;
  --buttonColor: #461075;
  --buttonHover: #692f0c;
  --black: #16081c; }

.Nav-Bar {
  background-color: var(--headerBackgroundColor);
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 20px;
  height: 100%;
  max-height: 200px; }
  .Nav-Bar .title {
    font-size: 50px;
    margin: 0px;
    padding: 0px; }
  .Nav-Bar .Nav-Section, .Nav-Bar .Left, .Nav-Bar .Right {
    display: inline;
    position: relative; }
    .Nav-Bar .Nav-Section .Nav-Item, .Nav-Bar .Left .Nav-Item, .Nav-Bar .Right .Nav-Item {
      padding: 5px;
      font-size: 20px;
      text-decoration: none; }
      .Nav-Bar .Nav-Section .Nav-Item:hover, .Nav-Bar .Left .Nav-Item:hover, .Nav-Bar .Right .Nav-Item:hover {
        background-color: var(--secondary); }
    .Nav-Bar .Nav-Section .Nav-Item-Active, .Nav-Bar .Left .Nav-Item-Active, .Nav-Bar .Right .Nav-Item-Active {
      background-color: var(--accent); }
  .Nav-Bar .Left {
    width: 50%; }
  .Nav-Bar .Right {
    float: right;
    position: relative;
    top: -50px; }
