.players-button {
  background-color: $primary;
  color: $textColor;
  width: 4rem;
  &:hover {
    color: $textAccent;
  }
}

.player-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  max-height: 1rem;
  padding-bottom: 10px;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;

  .card {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 150px;
    background-color: $secondary;
    border-radius: 10px;
    margin: 15px;
    margin-top: 25px;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px $white;

    .card-locked-area {
      position: relative;
      background-color: $black;
      border-radius: 50px;
      left: -20px;
      top: -20px;
      width: 100%;
      height: 100%;
      max-width: 60px;
      box-shadow: 0px 0px 10px 2px $white;
      overflow: hidden;
      z-index: 1;
      .locked {
        width: 50px;
        height: 50px;
        
        position: relative;
        justify-content: center;
        align-items: center;
        left: 5px;
        top: 3px;
        opacity: 1;
        &:hover {
          opacity: .8;
        }
      }
      .unlocked {
      @extend .locked;
        opacity: .4;
        &:hover {
        opacity: .8;
        }
      }

    }
    .image {
        height: 100%;
        width: 100%;
        max-width: 50px;
        max-height: 50px;

      }
    .card-head {
      display: flex;
      height: 100%;
      justify-content: center;
      position: relative;
      bottom: 20px;
      .name {
        font-size: xx-large;
        color: grey;
        text-transform: capitalize;
      }
    }
    .card-body {
      // margin-top: 10px;
      display: flex;
      position: relative;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;

      top: -40px;
    }
  }

  .card-locked {
    @extend .card;
    box-shadow: 0px 0px 10px 2px $red;
  }
}

.player-cards-open {
  @extend .player-cards;
  max-height: 100rem;
}




.roles_inactive {
  opacity: .5;
  filter: grayscale(100%);
  &:hover {
    opacity: 1;
    border-radius: 20px;
  }
}
.roles_active {
  opacity: 1;
  &:hover {
    opacity: .5;
  }
}

.in-the-roll {
  opacity: .3;
  color: $white;
  &:hover {
    opacity: .6;
    color: $accent;
  }
}

.in-the-roll-active {
  @extend .in-the-roll;
  opacity: 1;
  color: $buttonColor;
  &:hover {
    opacity: .7;
    color: $buttonHover;
  }
}

.delete-icon {
  opacity: .3;
  &:hover {
    opacity: 1;
    color: $red;
  }
}


.add-player {
  @extend .card;
  .add-player-button {
    width: 100%;
    background-color: $buttonColor;
    border-radius: 15px;
    text-align: center;
    position: relative;
    top: 40%;
  }
  &:hover {
    .add-player-button {
      background-color: $buttonHover;
    }
  }
}
