:root {
  --primary: #182952;
  --secondary: #2b3595;
  --accent: #0f3460;
  --textColor: #b7bec7;
  --textAccent: #e14594;
  --backgroundColor: #0f1545;
  --headerBackgroundColor: #182952;
  --blockQuoteColor: darkgrey;
  --white: #e3e3e3;
  --red: #b51f1f;
  --buttonColor: #461075;
  --buttonHover: #692f0c;
  --black: #16081c;
}
$primary: var(--primary);
$secondary: var(--secondary);
$accent: var(--accent);
$textColor: var(--textColor);
$textAccent: var(--textAccent);
$backgroundColor: var(--backgroundColor);
$headerBackgroundColor: var(--headerBackgroundColor);
$blockQuoteColor: var(--blockQuoteColor);
$white: var(--white);
$red: var(--red);
$buttonColor: var(--buttonColor);
$buttonHover: var(--buttonHover);
$black: var(--black);