@import "./Themes.scss";

body {
  padding: 0px;
  margin: 0px;
  background-color: $backgroundColor;
  color: $textColor;
  .content {
    margin: 10px;
  }
}

@import "./NavBar.scss";
@import "./AuthForm.scss";
@import "./PlayerCard.scss";
@import "./imageStyles.scss";
@import "./ValidGroup.scss";
